

.col {
    border: solid 2px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.row {
    border: none 3px grey;
    border-bottom-style: none;
    border-right-style:solid;
    font-size: large;
    
}
.background{
    --background: rgb(0, 0, 0);
}